<html>
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Examples</title>

    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <button @click="toggleText">Hide/Show</button> <br>

    <span v-if="show">Some text (v-if)</span>
    <span v-else>{{ showMessage | lowercase | capitalize }}</span>
    <br>

    <span v-show="show">Some text(v-show)</span>

    <hr>
    <p>Cars</p>

    <ul>
        <li v-for="(car, key) in cars">{{ key + 1 }} - {{ car.model | capitalize }} / {{ car.speed }}</li>
    </ul>
</div>

<script src="./js/main.js"></script>
</body>
</html>